@{
    ViewData["Title"] = "Application description";
}

<div style="margin-top:10px">
    <h2 style="margin:unset">@ViewData["Title"]</h2>
</div>
<hr class="hr-title" />
<div class="container-page-bottom">
    <dl class="dl-horizontal" style="margin:unset;">
        <dt>
            Programming<br />languages
        </dt>
        <dd class="dd-task">
            C#<br />JavaScript
        </dd>
        <dt>
            Query languages
        </dt>
        <dd class="dd-task">
            LINQ
        </dd>
        <dt>
            Frameworks
        </dt>
        <dd class="dd-task">
            ASP.NET Core 2.0<br />
            Entity Framework Core 2.0
        </dd>
        <dt>
            Architectural<br />pattern
        </dt>
        <dd class="dd-task">
            Model-View-Controller (MVC)
        </dd>
        <dt>
            Database
        </dt>
        <dd class="dd-task">
            Microsoft SQL Server 2017 LocalDB
        </dd>
    </dl>
</div>