@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:10px">
    <h2 style="margin:unset">Task</h2>
</div>
<hr class="hr-title" />
<div class="container-page-bottom">
    <dl class="dl-horizontal" style="margin:unset">
        <dt>
            Requirements
        </dt>
        <dd class="dd-task">
            1. User should be able to create/update/delete artists, albums, tracks.<br />
            2. As simple as possible, no fancy designs or production ready code required.
        </dd>
        <dt>
            Nice to have
        </dt>
        <dd class="dd-task">
            1. User should be able to search data by artist/album/track.<br />
            2. UI should allow user to sort and paginate data (server side sorting and pagination).<br />
            3. Unit test to at least one unit.
        </dd>
        <dt>
            Back end
        </dt>
        <dd class="dd-task">
            MSSQL.<br />
            EF Code First.<br />
            webAPI.
        </dd>
        <dt>
            Front end
        </dt>
        <dd class="dd-task">
            It can be anything web based that communicates with server via REST.<br />
            It can be a SPA.
        </dd>
        <dt>
            Source
        </dt>
        <dd>
            Source must be committed in any public git repository.<br />
            Code First should create DB on application startup.
        </dd>
    </dl>
</div>